#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  transition: background-color 0.3s ease;
}

.dark #root {
  background-color: #111827;
}

/* Убедимся, что html и body имеют правильные размеры и цвета */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  background-color: white;
  transition: background-color 0.3s ease;
}

.dark html {
  background-color: #111827;
}

body {
  background-color: white;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark body {
  background-color: #111827;
  color: white;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Стили для кнопок в хедере */
.header-button {
  display: none;
}

@media screen and (min-width: 1163px) {
  .header-button {
    display: flex;
  }
}

/* Стили для кнопок в мобильном меню */
.mobile-buttons {
  display: flex;
}

.mobile-divider {
  display: block;
}

@media screen and (min-width: 1163px) {
  .mobile-buttons {
    display: none;
  }
  
  .mobile-divider {
    display: none;
  }
}

/* Стили для телефонов с плавным переходом */
.phone-container {
  position: relative;
  width: 100%;
  max-width: 550px;
  height: auto;
  transform: rotate(6deg);
}

.phone-image {
  width: 100%;
  height: auto;
  border-radius: 0.75rem;
  transition: opacity 700ms ease;
  max-width: 550px;
}

.light-phone {
  position: relative;
  z-index: 1;
}

.dark-phone {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .phone-container, .phone-image {
    max-width: 550px;
  }
}

@media screen and (min-width: 1024px) {
  .phone-container, .phone-image {
    max-width: 650px;
  }
}
